{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" onclick="sortTable(0)">Symbol</a></li>
        <li><a class="dropdown-item" onclick="sortTable(1)">Name</a></li>
        <li><a class="dropdown-item" onclick="sortTable(2)">Transaction</a></li>
        <li><a class="dropdown-item" onclick="sortTable(3)">Shares</a></li>
        <li><a class="dropdown-item" onclick="sortTable(4)">Price</a></li>
        <li><a class="dropdown-item" onclick="sortTable(5)">TOTAL</a></li>
        <li><a class="dropdown-item" onclick="sortTable(6)">Date</a></li>
        <li><a class="dropdown-item" onclick="sortTable(7)">Time</a></li>
      </ul>
    </div>
    <main class="container py-5 text-center">
        <table id="history_table" class="table table-striped border border-1">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-center">TRANSACTION</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                    <th class="text-end">Date</th>
                    <th class="text-end">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for sales in transactions %}
                    <tr>
                        <td class="text-start">{{ sales.symbol }}</td>
                        <td class="text-start">{{ sales.name }}</td>
                        <td class="text-center fw-bold">{{ sales.transaction_type }}</td>
                        <td class="text-end">{{ sales.shares }}</td>
                        <td class="text-end">{{ sales.price | usd }}</td>
                        <th class="text-end">{{ sales.total | usd }}</th>
                        <td class="text-end">{{ sales.date }}</td>
                        <td class="text-end">{{ sales.time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
          function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("history_table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
              // Start by saying: no switching is done:
              switching = false;
              rows = table.rows;
              /* Loop through all table rows (except the
              first, which contains table headers): */
              for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
              }
              if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
              } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
                }
              }
            }
          }
          </script>
{% endblock %}